ol{
    font-size: 18px;
    padding: 10px;
    margin-left: 30px;
}

.algorithm{
    text-decoration: none;
    color: rgb(29, 127, 255);
}

.algorithm:hover{
    color: rgb(202, 31, 245);
}

#content{
    margin: 20px;
}


/* body
{
    background-color: rgb(255, 255, 255);
} */

.heading{
    padding: 10px;
    text-align: center;
    color: rgb(100, 105, 100);
    font-size: 25px;
    text-align: right;
}

.side_heading{
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin: 10px;
}

.definition{
    color: brown;
    font-size: 25px;
    padding: 10px;
}

.text{
    /* font-family: sans-serif; */
    font-size: 20px;
    padding: 10px;
    color: black;
}

.methods{
   background-color:rgb(221, 240, 234);
   border: 2px solid black;
   border-radius: 10px;
   margin: 20px;
   /* align-self: center; */
}

.button{
    font-size: 15px;
    border-radius: 10px;
    color: yellow;
    padding: 5px;
    margin: 5px;
    border:0px;
    background-color: inherit;
    /* background-color: inherit; */
    /* background-color: rgb(116, 115, 115); */
    /* background-color:gray; */

}

.button_select{
    font-size: 15px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 5px;
    margin: 5px;
    border:0px;
    background-color:rgb(255, 255, 255);

}

.button:hover{
    color: rgb(251, 255, 37);
    background-color: rgb(255, 0, 0);
    /* border-color: rgb(0, 0, 0); */
    cursor:pointer;
}

pre{
    background-color: rgb(234, 238, 176);
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    margin: 20px;
    overflow-x: auto;
}

.second_nav{
    background-color: gray;
    height: 1000px;
    /* height:100%; */
    /* width: fit-content; */
    width: 200px;
    position: fixed;
    flex-direction: column;
    background: url('../img/background_images/flower.jpg');
    /* background:linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('../img/background_images/flower.jpg'); */
    background-position: bottom;
    /* background-image: brightness(50%); */

    /* overflow-y:scroll; */
}



.content{
    margin-left: 200px;
}



#introduction{
    margin: 60px;
}


.classify{
    color: rgb(202, 31, 245);
}

.classify_text{
    font-size:1.2rem;
}