body {
  background-image: url("https://images.unsplash.com/photo-1585130401366-fe05a8d813c4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=824&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}

#info {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  font-size: 1.2rem;
}

#Thank {
  opacity: 0.5;
  margin-bottom: 10px;
  margin-left: 340px;
  color: white;
  font-size: 1.2rem;
}

/* skill table */
#skillpart {
  margin: 10px;
}
/* input form */

form {
  font-size: 1.2rem;
}

form div {
  color: white;
  flex-direction: column;
  margin-left: 10px;
}

#nameofperson {
  border-radius: 5px;
  font-size: 1rem;
  width: 300px;
  height: 20px;
  padding: 5px;
  margin: 10px;
  /* margin-left: 10px; */
}

#nameofskill {
  border-radius: 5px;
  font-size: 1rem;
  width: 300px;
  height: 20px;
  padding: 5px;
  margin: 10px;
  margin-left: 30px;
}

#level {
  border-radius: 5px;
  font-size: 1rem;
  width: 300px;
  height: 40px;
  padding: 5px;
  margin: 10px;
  margin-left: 30px;
}

button {
  border-radius: 5px;
  font-size: 1rem;
  width: 100px;
  height: 30px;
  padding: 5px;
  margin: 10px;
  margin-left: 330px;
}

button:hover {
  border-radius: 5px;
  font-size: 1rem;
  width: 100px;
  height: 30px;
  padding: 5px;
  margin: 10px;
  margin-left: 330px;
  border: 2px solid white;
  background-color: green;
  color: rgb(255, 255, 255);
}

/* table */
#add_skill_table {
  font-size: 1.5rem;
  margin: 100px;
  table-layout: fixed; /*to fix the table */
  display: flex;
  align-items: center;
  justify-content: center;
}

#add_skill_table table {
  align-items: center;
  border: 2px solid black;
  border-spacing: 0px; /* to remove the border spacing in table  */
}

#add_skill_table table tr th {
  width: 300px;
  font-size: 1rem;
  color: white;
  border: 1px solid black;
  padding-left: 50px;
  padding-bottom: 10px;
  padding-right: 50px;
  padding-top: 10px;
  opacity: 0.7;
}

#add_skill_table table tr td {
  text-align: center;
  /* justify-content: center; */
  width: 300px;
  border: 1px solid black;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  word-break: break-all;
}

/* Galaxy s5 */

@media screen and (min-width: 100px) and (max-width: 767px) {
  body {
    background-image: url("https://images.unsplash.com/photo-1585130401366-fe05a8d813c4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=824&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
  }

  #nameofperson {
    border-radius: 5px;
    font-size: 1rem;
    width: 280px;
    height: 20px;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
  }

  #nameofskill {
    border-radius: 5px;
    font-size: 1rem;
    width: 280px;
    height: 20px;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
  }

  #level {
    border-radius: 5px;
    font-size: 1rem;
    width: 290px;
    height: 40px;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
  }

  button {
    border-radius: 5px;
    font-size: 1rem;
    width: 100px;
    height: 30px;
    padding: 5px;
    margin: 10px;
    margin-left: 100px;
  }

  button:hover {
    border-radius: 5px;
    font-size: 1rem;
    width: 100px;
    height: 30px;
    padding: 5px;
    margin: 10px;
    margin-left: 100px;
    border: 2px solid white;
    background-color: green;
    color: rgb(255, 255, 255);
  }
  #Thank {
    opacity: 0.5;
    margin-bottom: 10px;
    margin-left: 110px;
    color: white;
    font-size: 1.2rem;
  }

  /* table part */
  #add_skill_table {
    font-size: 1.5rem;
    margin: 100px;
    table-layout: fixed; /*to fix the table */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #add_skill_table table {
    align-items: center;
    border: 1px solid black;
    border-spacing: 0px; /* to remove the border spacing in table  */
  }

  #add_skill_table table tr th {
    width: 300px;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-top: 5px;
}
  #add_skill_table table tr td {
    text-align: center;
    font-size: 0.7rem;
    width: 300px;
    border: 1px solid black;
    padding-left: 2px;
    padding-bottom: 5px;
    padding-right: 2px;
    padding-top: 5px;
    word-break: break-all;
  }
}


/* ipad pro*/

@media screen and (min-width: 768px) and (max-width: 1200px) {
  body {
    background-image: url("https://images.unsplash.com/photo-1585130401366-fe05a8d813c4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=824&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1500px;
  }

}